h1 {text-align: left; 
    color: red;
    font-family:arial,sans-serif;
    font-size: medium;}

h2 {text-align: right; 
    color: blue;}

h3 {text-align: center;
        color:cornflowerblue;}

h4 {text-align: left;
        color: black;}

h5 {text-align: left;
            color: white;
            padding: 1px;}

